<!-- <div>OI OI OI OI OI OI </div>

<div style="width: 200px; height: 200px ;">
    <ul *ngFor="let user of userList">
        <button class="btn btn-primary">
            <li [routerLink]="['/user/'+user]">{{user}}</li>
        </button>
        <button class="btn btn-outline-success">
            <li [routerLink]="['/user/details']" [queryParams]="{
                username: user
            }">{{user}}</li>
        </button>
    </ul>
</div> -->
<div class="container">
    <div class="row">
        <app-user-card [user] = "item" class="col-md" *ngFor= "let item of userList"></app-user-card>
    </div>
</div>